/* Nav Fixed on Scroll */

.nav-color {
  background-color: #005a36;
}

/* Nav Scroll */

.navbar {
z-index: 3;
}

.navbar .nav-link.active {
font-weight: 700;
}

.nav-link:hover {
background-color: var(--pr-color);
}

.navbar .nav-link {
font-size: 1rem;
color: black !important;
}